*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
}
/*Header*/
header{
    width: 100%;
}
.header__navbar--user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    border-bottom: 1px solid #E6E6E6;
    padding-left: 15px;
    padding-right: 15px;
}
.user-title{
    flex: .4;
    font-weight: 500;
    color: #424242;
    font-size: 14.5px;
    margin-left: 7.5rem;
}
.navbar--user{
    flex: .28;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 0 !important;
    margin-right: 7.5rem;
}
.navbar--user li a{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .03rem;
    text-decoration: none;
    color: #141313;
    transition: color .6s ease-out;
}
.navbar--user li a:hover{
    color: rgb(194, 153, 88);
}
.header__navbar--main{
    display: flex;
    justify-content: space-between;
    height: 12.5vh;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #E6E6E6;
}
.main-title{
    align-items: center;
    display: flex;
    flex: .28;
    margin-left: 7.5rem;
}
.main-title img{
    width: 45%;
}
.navbar--main{
    align-items: center;
    display: flex;
    justify-content: stretch;
    margin-bottom: 0 !important;
    flex: .8;
    background-color: transparent;
    list-style: none;
}
.navbar--main li a{
    display: block;
    font-weight: 500;
    font-size: 15.5px;
    text-decoration: none;
    margin-right: 25px;
    color: black;
    transition: color .6s ease-out;
}
.navbar--main li a:hover{
    color: rgb(194, 153, 88);
}
.navbar--main li .active{
    color: rgb(194, 153, 88);
}
.navbar--wrapper{
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex: .18;
    margin-right: 7.5rem;
}
.navbar--search{
    align-items: center;
    display: flex;
    flex: .35;
    background-color: transparent;
}
.search{
    background-color: #fafafae5;
    padding: .3rem .4rem;
    border-radius: 20px;
    margin-left: .4rem;
}
.search-box{
    border: none;
}
.search_btn{
    background-color:  transparent;
    padding: .2rem .2rem 0 .2rem;
    border: none;
}
.search_input{
    border: none;
    background-color: transparent;
    width: 130px;
    color: #424242;
    font-size: .85rem;
    padding-bottom: .5rem;
}
.pes-search{
    font-size: 21px;
}
.pes{
    color: black;
    font-size: 24px;
    transition: color .2s ease-out;
}
.pes:hover{
    color: rgb(194, 153, 88);
}
.pes-user{
    font-size: 26px;
}
.pes-wishlist,
.pes-heart{
    position: relative;
    display: inline-block;
}
.wishlist-count,
.heart-count{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(194, 153, 88);
    font-size: .9rem;
    text-align: center;
    color: white;
    right: -15px;
    top: -10px;
    font-weight: 700;
}
.navbar--wishlist_card{
    position: relative;
}
.wishlist_cart-content{
    position: absolute;
    visibility: hidden;
    left: -340px;
    top: 45px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    border: 1px solid #efefef;
    background: white;
    z-index: 9999;
    height: 85px!important;
    display: none;
    animation: slideIn 300ms ease-in-out forwards;
    transform-origin: top center;
    transition: all .3s ease-out;
}
.navbar--wishlist_card::after{
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: -15px;
    width: 60px;
    height: 50px;
}
.wishlist_cart-content--Text{
    margin: 25px 140px 25px 40px;
}
.wishlist_cart-content--Text p{
    font-size: 1em;
    margin-bottom: 0 !important;
    margin-right: auto;
}
.navbar--wishlist_card:hover .wishlist_cart-content{
    display: block;
    visibility: visible;
}
/*header_mainNavbar*/
.navbar--main_home,
.navbar--main_shop,
.navbar--main_blog,
.navbar--main_pages{
    position: relative;
    display: inline-block;
}
.navbar--main_home::after,
.navbar--main_shop::after,
.navbar--main_blog::after,
.navbar--main_pages::after{
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    right: 5px;
    width: 75px;
    height: 50px;
}
.home_menu--list,
.page_menu--list{
    list-style: none;
    position: absolute;
    visibility: hidden;
    top: 59px;
    height: 195px;
    width: 225px;
    padding: 30px 0;
    padding-left: 20px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    border: 1px solid #efefef;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9999;
}
.home_menu--list li a,
.page_menu--list li a{
    float: none;
    display: block;
    font-weight: 400;
    font-size: 14px;
}
.navbar--main_home:hover .home_menu--list,
.navbar--main_shop:hover .shop_menu,
.navbar--main_blog:hover .blog_menu,
.navbar--main_pages:hover .page_menu--list{
    visibility: visible;
    animation: dropDown 300ms ease-in-out forwards;
    transform-origin: top center;
}
.navbar--main_shop .shop_menu,
.navbar--main_blog .blog_menu{
    background: white;
    position: absolute;
    visibility: hidden;
    top: 59px;
    height: 250px;
    width: 490px;
    left: -83px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    border: 1px solid #efefef;
    padding: 35px 25px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}
.navbar--main_blog .blog_menu{
    left: -158px;
}
.shop_menu--list1,
.shop_menu--list2,
.shop_menu--list3,
.blog_menu--list1,
.blog_menu--list2,
.blog_menu--list3{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shop_menu--list1 li a,
.shop_menu--list2 li a,
.shop_menu--list3 li a,
.blog_menu--list1 li a,
.blog_menu--list2 li a,
.blog_menu--list3 li a{
    font-size: 14px;
    color: #8d8d8d;
}
.shop_menu--list1 span,
.shop_menu--list2 span,
.shop_menu--list3 span,
.shop_blog--list1 span,
.shop_blog--list2 span,
.shop_blog--list3 span{
    font-size: 14.5px;
    margin-bottom: .2rem;
}
.shop_menu--list1::after,
.shop_menu--list3::after{
    content: 'a';
    visibility: hidden;
}
.blog_menu--list2::after,
.blog_menu--list3::after{
    content: 'a';
    visibility: hidden;
}
/*animation*/
@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(-1rem);
      opacity: 0;
    }
}
@keyframes dropDown {
    0% {
      transform: rotateX(-90deg);
      opacity: 0;
    }
    70% {
      transform: rotateX(20deg);
      opacity: .5;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
}
/**********/
/*Banner Page*/
.page__banner{
    overflow: hidden;
    position: relative;
}
.page__banner--slider{
   display: flex;
}
.banner--slider{
    width: 100%;
    flex-shrink: 0!important;
    position: relative;
}
.banner--slider img{
    width: 100%;
    height: 100%;
}
#page__banner--slider-Btn1,
#page__banner--slider-Btn2{
    position: absolute;
    top: 50%;
    border: none;
    visibility: hidden;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 40, -20);
}
#page__banner--slider-Btn1:hover,
#page__banner--slider-Btn2:hover{
    background: #141313;
}
#page__banner--slider-Btn2{
    right: 5.5%;
}
#page__banner--slider-Btn1{
    left: 0%;
}
.peBtn{
    font-size: 2rem;
    padding: .3rem;
    color: white;
    background: rgba(0,0,0,0.5);
}



.slider1-Content{
    position: absolute;
    top: 168px;
    left: 324px;
    font-family: 'Lato';
}
.slider2-Content{
    position: absolute;
    top: 212px;
    left: 846px;
    font-family: 'Lato';
}
.slider3-Content{
    position: absolute;
    top: 211px;
    left: 324px;
    font-family: 'Lato';
}
.slider--Btn{
    background: rgb(194, 153, 88);
    padding: 0 32px;
    border-radius: 20px;
    color: white;
    border: none;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 15px;
    font-family: 'Lato';
    white-space: nowrap;
    text-align: left;
    margin-top: 1rem;
    transition: background .5s ease-out;
}
.slider--Btn:hover{
    background: black;
}
.slider1-Content--MainText,
.slider2-Content--MainText,
.slider3-Content--MainText{
    font-size: 47px;
    line-height: 51px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(34,34,34);
}
.slider1-Content--Text,
.slider2-Content--Text,
.slider3-Content--Text{
    margin-top: -.5rem;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(85,85,85);
    white-space: nowrap;
}

/**********/
