$mainColor: rgb(194, 153, 88);
/**Responsive**/
@media screen and (max-width: 500px) {
	/*All icon button*/
	.productBtn-action1 li a {
		height: 30px;
		line-height: 30px;
		width: 30px;
	}
	.productBtn-action1 li a .Pe {
		font-size: 16px;
		color: #222222;
		margin-top: 0.4rem;
		transition: color 0.3s ease;
	}
	.productBtn-action1 li a:hover .pe-7s-shopbag {
		color: #ffffff;
	}
	.productBtn-action2 li a {
		display: none;
	}
	.productBtn-action1 .buying {
		display: block;
	}
	/*Header*/
	.header__navbar--user {
		display: none;
	}
	.header__navbar--main {
		display: none;
	}
	.header__navbar--main---tablet {
		display: none;
	}
	.header__navbar--main---mobile {
		background-color: rgba(255, 255, 255, 0.95);
		display: block;
		height: 5vh;
		z-index: 9999;
	}
	.main_navbarFixed {
		height: auto;
	}
	.container_navbarMobile {
		display: flex;
		width: 100%;
		height: 100%;
		padding: 0 15px 0 15px;
		justify-content: space-between;
	}
	.header__toggler--navbar---Mobile {
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.header__toggler--navbar---Mobile {
		display: none;
		border: 2px solid #bababa;
		height: 1.8rem;
		width: 1.8rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
		z-index: 999;
		padding: 0.5em 0.3em;
	}
	.hamberger {
		align-self: center;
		width: 10%;
	}
	.main-title {
		margin: 0.5rem auto;
	}
	.main-title img {
		display: block;
		width: 32%;
	}
	.navbar--wrapper {
		margin-right: -0.5rem;
		width: 10%;
		flex: 0.4;
	}
	.top-nav .navbar--mainMobile {
		position: fixed;
		background-color: rgba(255, 255, 255, 0.95);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
		padding: 30px 15px;
		height: 100%;
		width: 260px !important;
		left: -100%;
		top: 0;
		z-index: 9999;
		display: flex;
		flex-direction: column;
		float: left;
		list-style: none;
		transition: left 0.3s ease;
		overflow: hidden;
	}
	.top-nav .navbar--mainMobile.clickActive {
		left: 0;
	}
	.close-btn--Mobile {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
	.Close-btn--Mobile {
		border: none;
		background: none;
		padding: 10px 20px;
		font-size: 14px;
		color: #666;
		transition: color 0.3s ease;
	}
	.Close-btn--Mobile:hover {
		color: $mainColor;
	}
	.navbar--search {
		margin-bottom: 10px;
	}
	.search {
		background-color: #fafafae5;
		padding: 0.1rem 5rem;
		margin-top: 25px;
	}
	.search_input {
		width: 100px;
		margin-left: -2.6rem;
	}
	.pes-search {
		font-size: 19px;
	}
	.navbar--contact {
		margin-top: 1.8rem;
	}
	.contact---tittle {
		font-weight: 550;
		font-size: 1.25rem;
	}
	.contactMobile li {
		font-size: 0.9rem;
		color: #888888;
		display: inline-block;
		padding: 0 15px;
	}
	.contactMobile li::before {
		content: "\2022";
		color: #999999;
		font-weight: bold;
		display: inline-block;
		width: 1em;
		margin-left: -1em;
	}
	.contactMobile li a {
		color: #999999;
		text-decoration: none;
		transition: color 0.2s ease;
	}
	.contactMobile li a:hover {
		color: $mainColor;
	}
	.mobile----Menu {
		float: left;
		text-align: left;
		width: 100%;
		display: flex;
		flex-direction: column;
		list-style: none;
		margin-top: 0.8rem;
	}
	.mobile----Menu li {
		border-bottom: 1px solid #e6e6e6;
	}
	.mobile----Menu li:nth-child(6) {
		border-bottom: none;
	}
	.mobile----Menu li a {
		text-decoration: none;
		color: #555555;
		font-size: 16px;
		line-height: 40px;
		text-transform: capitalize;
		transition: color 0.3s ease;
	}
	.mobile----Menu li a:hover {
		color: $mainColor;
	}
	.navbar--main_home .active {
		color: $mainColor;
	}
	.fa {
		letter-spacing: 0.025em;
		color: #999999;
		cursor: pointer;
		float: right;
		height: 40px;
		line-height: 40px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 40px;
		z-index: 2;
	}
	.fass {
		position: absolute;
		right: 0;
		top: 0;
		letter-spacing: 0.025em;
		color: #999999;
		cursor: pointer;
		float: right;
		height: 40px;
		line-height: 40px;
		width: 25px;
		z-index: 2;
	}
	.submenu,
	.submenu2,
	.submenu3 {
		display: none;
		list-style: none;
		padding: 0 0 0 10px;
	}
	.submenu.show,
	.submenu2.show,
	.submenu3.show {
		display: block;
	}
	.submenu li a {
		font-size: 0.85rem;
		color: #999999;
	}
	.submenu li:last-child,
	.submenu2 li:last-child {
		border-bottom: none;
	}
	.submenu li:first-child,
	.submenu2 li:first-child {
		border-top: 1px solid #e6e6e6;
	}
	.shop_menu--list1,
	.shop_menu--list2,
	.shop_menu--list3,
	.blog_menu--list1,
	.blog_menu--list2,
	.blog_menu--list3 {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		color: #555555;
		font-size: 16px;
		line-height: 0px;
		text-transform: capitalize;
		cursor: pointer;
	}
	/*Banner Page*/
	.page__banner {
		margin: 5.8rem 0 24rem 0;
	}
	.slidesBtn {
		top: 12rem;
		left: 3.5rem;
	}
	.slider1-img,
	.slider2-img,
	.slider3-img {
		transform: scale(2.4);
	}
	#page__banner--slider-Btn2 {
		right: 18.5%;
	}
	.slider1-Content {
		top: -30px;
		right: 20px;
	}
	.slider2-Content {
		top: 40px;
		left: 40px;
	}
	.slider3-Content {
		top: -80px;
		right: 20px;
	}
	.slider1-Content--MainText,
	.slider2-Content--MainText,
	.slider3-Content--MainText {
		font-size: 1.7rem;
		line-height: 28px;
	}
	.slider1-Content--Text,
	.slider2-Content--Text,
	.slider3-Content--Text {
		margin-top: -0.7rem;
		line-height: 20px;
		font-size: 16px;
	}
	.slider1-Content--Btn .slider--Btn,
	.slider2-Content--Btn .slider--Btn,
	.slider3-Content--Btn .slider--Btn {
		padding: 0px 30px;
		line-height: 30px;
		font-size: 13px;
		margin-top: -0.5rem;
	}
	/*Store Hastag*/
	.container {
		padding: 0 0 6rem 0;
	}
	.store__Hastag {
		width: 400px;
	}
	/*Store Work*/
	.container_Work--Mobile {
		padding: 0;
		margin-bottom: 3rem;
	}
	.store__Work1,
	.store__Work2 {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	/*Store MainProduct*/
	.container_mainProduct {
		width: 100%;
		padding: 0;
		margin-bottom: 3rem;
	}
	.store__mainProduct {
		display: flex;
		flex-direction: column;
		padding: 0 15px;
		flex: 1;
	}
	.mainProduct---text {
		top: 50%;
		left: 50%;
	}
	.text1,
	.text4 {
		text-align: center;
		left: 70%;
	}
	.text2 {
		width: 60%;
		left: 70%;
	}
	.text3 {
		left: 70%;
	}
	/*Store NewArrivals*/
	.container_Arrivals {
		width: 100%;
		padding: 0;
		margin-bottom: 40rem;
	}
	.inner---panel {
		display: flex;
		flex-direction: column;
	}
	.panelProduct {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}
	.panelProductAll {
		width: 45%;
	}
	.store__Arrivals-heading h3 span {
		font-size: 1.7rem;
		line-height: 1;
	}
	.store__Arrivals-heading p {
		font-size: 14px;
	}
	/*Store NewArrivals2*/
	.container_Arrivals2 {
		padding: 0 1rem 0 1rem;
		margin-bottom: 5rem;
	}
	.container_Arrivals-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	.contentArrivals---text {
		left: 9rem;
	}
	/*Our Products*/
	.container_OurProducts {
		padding: 0;
		margin: 0 1rem 5rem 1rem;
	}
	.store__mainProduct-inner {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
	.OurProducts--content1,
	.OurProducts--content2,
	.OurProducts--content3,
	.OurProducts--content4 {
		width: 45%;
	}
	.store__OurProducts-heading {
		margin-right: 2rem;
	}
	.store__OurProducts-heading h3 span {
		font-size: 1.7rem;
		line-height: 1;
	}
	.store__OurProducts-heading p {
		font-size: 14px;
	}
	.store__mainProduct-inner {
		margin-right: 1rem;
	}
	/*Client Suggest*/
	.clientSuggest--wrapper {
		top: 30px;
	}
	.content----wrapper {
		left: 1rem;
		width: 380px;
		padding: 1rem 0;
	}
	.clientSuggest--wrapper---heading {
		font-size: 0.9rem;
		text-align: center;
		margin-bottom: 20px;
		margin-left: -350px;
	}
	/*All Products*/
	.container-allProducts {
		padding: 0 1rem 0 1rem;
	}
	.allProducts--wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 0.4rem;
		padding: 0;
	}
	.allProducts--content1 {
		width: 100%;
		margin-bottom: 2rem;
	}
	.allProducts---text {
		left: 50%;
	}
	.content---heading h3 {
		font-size: 19px;
	}
	.allProducts--content2,
	.allProducts--content3 {
		width: 49%;
	}
	/*Our Blog*/
	.container-blog {
		padding: 0 1rem 0 1rem;
		margin-bottom: 3.5rem;
	}
	.store__OurBlog-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	.store__OurBlog-heading {
		margin-right: 2rem;
	}
	.store__OurBlog-heading h3 span {
		font-size: 1.7rem;
		line-height: 1;
	}
	.store__OurBlog-heading p {
		font-size: 14px;
	}
	.store__mainBlog-inner {
		margin-right: 1rem;
	}
	/*Contact Link*/
	.container-contactLink {
		padding: 0 0.5rem 0 0.5rem;
		margin-bottom: 3.5rem;
	}
	.wrapper---Link {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
	}
	.contactLink--wrapper {
		margin: 0;
		padding: 10px 20px;
	}
	.wrapper---LinkAll a img {
		width: 100%;
	}
	/*Footer*/
	footer {
		padding: 0;
	}
	.main-footer {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
	}
	.footer--wrapper {
		width: 100%;
	}
	.logo {
		width: 55%;
	}
	.contact-footer {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		margin: 0 0 5rem 0;
	}
	.contact-footer--wrapper1 {
		width: 100%;
		margin-bottom: 1rem;
	}
	.contact-footer--wrapper2 {
		width: 80%;
		align-self: center;
		margin-right: 5rem;
	}
	.SignUp_form form {
		width: 80%;
	}
	.formView {
		max-width: 80%;
	}
}
@media screen and (max-width: 390px) {
	/*Header*/
	.wishlist_cart-content {
		left: -240px;
		top: 30px;
	}
	.wishlist_cart-content--Text {
		margin: 25px 40px 25px 40px;
	}
	/*Banner Page*/
	.page__banner {
		margin: 5.5rem 0 22rem 0;
	}
	.slidesBtn {
		top: 10rem;
		left: 3.5rem;
	}
	.slider2-Content {
		top: 15px;
		left: 7px;
	}
	/*Store Hastag*/
	.container {
		padding: 0 0 80px 0;
	}
	.store__Hastag {
		width: 360px;
	}
	/*Our Products*/
	.store__OurProducts-heading {
		margin-right: 2rem;
	}
	.store__OurProducts-heading h3 span {
		font-size: 1.7rem;
		line-height: 1;
	}
	.store__OurProducts-heading p {
		font-size: 14px;
	}
	.store__mainProduct-inner {
		margin-right: 1rem;
	}
	/*Client Suggest*/
	.clientSuggest--wrapper {
		top: 30px;
	}
	.content----wrapper {
		width: 350px;
	}
	.clientSuggest--wrapper---heading {
		margin-right: 17rem;
		font-size: 0.9rem;
	}
	.content----wrapper_Text1 {
		font-size: 0.95rem;
		margin-right: 1rem;
	}
	/*Store NewArrivals*/
	.store__Arrivals-heading h3 span {
		font-size: 1.7rem;
		line-height: 1;
	}
	.store__Arrivals-heading p {
		font-size: 14px;
	}
	/*Our Blog*/
	.store__OurBlog-heading {
		margin-right: 2rem;
	}
	.store__OurBlog-heading h3 span {
		font-size: 1.7rem;
		line-height: 1;
	}
	.store__OurBlog-heading p {
		font-size: 14px;
	}
	.store__mainBlog-inner {
		margin-right: 1rem;
	}
}
@media screen and (max-width: 365px) {
	/*Store Hastag*/
	.container {
		padding: 0 0 6.5rem 0;
	}
}
@media screen and (max-width: 330px) {
	/*Header*/
	.wishlist_cart-content {
		left: -230px;
		top: 35px;
	}
	.wishlist_cart-content--Text {
		margin: 25px 40px 25px 40px;
	}
	.navbar--wrapper {
		flex: 0.45;
	}
	/*Banner Page*/
	.page__banner {
		margin: 5.5rem 0 20rem 0;
	}
	.slidesBtn {
		top: 8rem;
		left: 3rem;
	}
	.slider1-Content {
		top: 0px;
		left: 10px;
	}
	.slider2-Content {
		top: 20px;
		left: 10px;
	}
	.slider3-Content {
		top: 0px;
		right: 10px;
	}
	.slider1-Content--MainText,
	.slider2-Content--MainText,
	.slider3-Content--MainText {
		font-size: 1.4rem;
		line-height: 20px;
	}
	.slider1-Content--Text,
	.slider2-Content--Text,
	.slider3-Content--Text {
		margin-top: -0.7rem;
		margin-bottom: -1rem;
		line-height: 20px;
		font-size: 13px;
	}
	.slider1-Content--Btn .slider--Btn,
	.slider2-Content--Btn .slider--Btn,
	.slider3-Content--Btn .slider--Btn {
		padding: 0px 25px;
		line-height: 20px;
		font-size: 12px;
		margin-top: -15rem;
	}
	/*Store Hastag*/
	.container {
		padding: 0 0 6.5rem 0;
	}
	.store__Hastag {
		width: 310px;
	}
	/*Store NewArrivals*/
	.store__Arrivals-heading h3 span {
		font-size: 1.7rem;
		line-height: 1;
	}
	.store__Arrivals-heading p {
		font-size: 14px;
	}
	/*Store NewArrivals2*/
	.container_Arrivals2 {
		margin: 40rem 0 5rem 0;
	}
	.contentArrivals---text {
		left: 6rem;
	}
	/*Our Products*/
	.store__OurProducts-heading {
		margin-right: 2rem;
	}
	.store__OurProducts-heading h3 span {
		font-size: 1.7rem;
		line-height: 1;
	}
	.store__OurProducts-heading p {
		font-size: 14px;
	}
	.store__mainProduct-inner {
		margin-right: 1rem;
	}
	/*Client Suggest*/
	.clientSuggest--wrapper {
		top: 30px;
	}
	.content----wrapper {
		width: 300px;
	}
	.clientSuggest--wrapper---heading {
		margin-left: -450px;
		font-size: 0.8rem;
	}
	.content----wrapper_Text1 {
		font-size: 0.85rem;
	}
	/*All Products*/
	.container-allProducts {
		padding: 0 0.5rem 0 0.5rem;
	}
	.wrapper---Link {
		gap: 0.1rem;
	}
	.allProducts--content2,
	.allProducts--content3 {
		width: 48%;
	}
	.content---heading h3 {
		font-size: 17px;
	}
	/*Our Blog*/
	.store__OurBlog-heading {
		margin-right: 2rem;
	}
	.store__OurBlog-heading h3 span {
		font-size: 1.7rem;
		line-height: 1;
	}
	.store__OurBlog-heading p {
		font-size: 14px;
	}
	.store__mainBlog-inner {
		margin-right: 1rem;
	}
}
